body{
    background-color: aquamarine;
}




div{
    
    width: 100px;
    height: 100px;
    background-color: green;
    margin-left: 500px;
    margin-top: 50px;
}

#id2{
    margin-left: 602px;
    margin-top: -100px;
    background-color: brown;

}

#id3{
    margin-left: 704px;
    margin-top: -100px;
    background-color: palevioletred;

}

#id4{
    margin-left: 806px;
    margin-top: -100px;
    background-color: rgb(14, 154, 209);

}

#id5{
    margin-left: 908px;
    margin-top: -100px;
    background-color: yellowgreen;

}

#id6{
    margin-left: 400px;
    margin-top: 20px;
    background-color: rgb(83, 83, 218);

}

#id7{
    margin-left: 502px;
    margin-top: -100px;
    background-color: orange;

}

#id8{
    margin-left: 606px;
    margin-top: -100px;
    background-color: darkgreen;

}

#id9{
    margin-left: 708px;
    margin-top: -100px;
    background-color: rgb(98, 22, 130);

}

#id10{
    margin-left: 810px;
    margin-top: -100px;
    background-color: red;

}

#id11{
    margin-left: 912px;
    margin-top: -100px;
    background-color:rgb(79, 79, 172);

}

#id12{
    margin-left: 1014px;
    margin-top: -100px;
    background-color: darkred;

}

#id13{
    margin-left: 300px;
    margin-top: 20px;
    background-color:rgb(25, 25, 105);

}

#id14{
    margin-left: 402px;
    margin-top: -100px;
    background-color: rgb(23, 94, 121);

}

#id15{
    margin-left: 504px;
    margin-top: -100px;
    background-color: rgb(59, 53, 53);

}

#id16{
    margin-left: 606px;
    margin-top: -100px;
    background-color: black;

}

#id17{
    margin-left: 708px;
    margin-top: -100px;
    background-color: rgb(55, 117, 55);

}

#id18{
    margin-left: 810px;
    margin-top: -100px;
    background-color: rgb(133, 180, 62);

}

#id19{
    margin-left: 912px;
    margin-top: -100px;
    background-color: rgb(189, 88, 139);

}

#id20{
    margin-left: 1014px;
    margin-top: -100px;
    background-color: darkblue;

}

#id21{
    margin-left: 1116px;
    margin-top: -100px;
    background-color: darkviolet;

}







